<div>
	<p>Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the http://www.goodie2.com website operated by us.</p>

	<p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>

	<p><strong>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</strong></p>
</div>

<div id="subscriptions">
	<p><srong>Subscriptions</strong></p>
	<p>Some parts of the Service are billed on a subscription basis ("Subscription(s)"). You will be billed in advance on a recurring</p>
</div>