<div class="form-group">
	<div class="row">
			<label class="col-sm-2 control-label">Type</label>
			<div class="col-sm-10">
				<div class="checkbox c-checkbox needsclick">
					<label class="needsclick">
						<%= f.check_box :program_admin, :class => "needsclick" %>
						<span class="fa fa-check"></span>Program Admin, the head honcho
					</label>
				</div>

				<div class="checkbox c-checkbox">
					<label>
						<%= f.check_box :applicant %>
						<span class="fa fa-check"></span>Applicant
					</label>
				</div>
			</div>
	</div>
</div>
<script>
	//$('#user_program_admin').prop('checked', true)
</script>