<div class="panel panel-default">
   <div class="list-group">
      <a href="#" class="list-group-item">
         <em class="pull-right fa fa-users fa-lg fa-fw text-muted mt"></em>
         <h4 class="list-group-item-heading"><%= @open_cycles.count %></h4>
         <p class="list-group-item-text">Open Cycles</p>
      </a>
      <a href="#" class="list-group-item">
         <em class="pull-right fa fa-rss fa-lg fa-fw text-muted mt"></em>
         <h4 class="list-group-item-heading"><%= @closed_cycles.count %></h4>
         <p class="list-group-item-text">Past Cycles</p>
      </a>
      <a href="#" class="list-group-item">
         <em class="pull-right fa fa-briefcase fa-lg fa-fw text-muted mt"></em>
         <h4 class="list-group-item-heading"><%= @all_projects.count %></h4>
         <p class="list-group-item-text">Total Projects</p>
      </a>
      <a href="#" class="list-group-item">
         <em class="pull-right fa fa-users fa-lg fa-fw text-muted mt"></em>
         <h4 class="list-group-item-heading"><%= @all_applicants.count %></h4>
         <p class="list-group-item-text">Applicants</p>
      </a>
      

      <a href="#" class="list-group-item">
         <em class="pull-right fa fa-twitter fa-lg fa-fw text-muted mt"></em>
         <h4 class="list-group-item-heading">17300</h4>
         <p class="list-group-item-text">Profile Completeness</p>
      </a>

   </div>
</div>