<h4><span data-localize="programadmin.noorg.WELCOME">Welcome to Goodie 2!</span></h4>

<p><span data-localize="programadmin.noorg.INTRO">We're very excited that you've joined the Goodie family. Our goal is to help you process applications in a cost effecient way, enabling you to give more back to your community. Because you are still not setup live yet, let's give you a brief overview of how to use the Goodie solution.</span></p>


<p><span data-localize="programadmin.noorg.SECONDARY">First thing you should do, is setup your organization within Goodie. Here you'll enter the basics, the name of your organization, some contact information, and you'll have the option to enter some more advanced settings. Program Administrators, such as yourself, can modify and and all these settings at any time.</span></p>


<%= link_to "Get Started", new_organization_path, :class => "btn btn-info", :id => "new_org" %>