<h4>Welcome to Goodie 2!</h4>
<p>Nice work! <%= @my_organization.name %> is one step closer to using our system. The next step is to create some projects. Projects are the top-level objects in our system.</p>

<p>A project is the name of you're giving campaign, and a project can have any number of cycles. A cycle is just the current effort. Each and every project has to have at least one cycle.</p>

<%= link_to "Get Started", new_project_path, :class => "btn btn-info" %>