<div class="panel panel-default">
   <div class="panel-heading">
      <div class="pull-right label label-danger">5</div>
      <div class="pull-right label label-success">12</div>
      <div class="panel-title">Application Dispersion</div>
   </div>
   <div class="panel-body">
      <div ng-controller="VectorMapController" class="">
         <div data-vector-map="" data-height="450" data-scale='0' data-map-name="world_mill_en"></div>
      </div>
   </div>
</div>