<div class="row">
   <div class="col-lg-12">
      <!-- START widget-->
      <div class="panel panel-default panel-demo">
         <div class="panel-heading">
            <div class="panel-title">Completion History</div>
         </div>
         <div class="panel-body">
            <div id="cycle_chart"></div>
         </div>
      </div>
      <!-- END widget-->
   </div>
</div>