<div class="col-xs-12 col-md-7 col-lg-8">
  <div id="request_base_info">
    <%= render 'requests/show_request_partials/request_base_info' %>
  </div>

  <div id="request_details">
    <%= render 'requests/show_request_partials/request_details' %>
  </div>
</div>

<div class="col-xs-12 col-md-5 col-lg-4">
  <div id="show_request_user_info">
    <%= render 'requests/show_request_partials/user_info' %>
  </div>
</div>