<div class="panel panel-default">
   <div class="panel-heading">
      <div class="pull-right">
         <form>
            <select class="form-control fadeInLeft animated" id="demo_chart_select">
               <option>Gender</option>
               <option>Race</option>
               <option>Age</option>
            </select>
         </form>
      </div>
      <div class="panel-title">Applicant Demographics</div>
   </div>
   <div class="panel-body">
      <div id="gender_pie_chart">
         <div class="gender_pie flot-chart"></div>
         <div class="race_pie flot-chart"></div>
         <div class="age_pie flot-chart"></div>
      </div>
   </div>
</div>