<div class="panel panel-default">
   <div class="panel-body">
      <span class="text-muted pull-right">
         <i style="position:relative;top:1px; margin-left:5px" class="icon-question" data-container="body" data-toggle="popover" data-placement="right" data-title="Giving Goal" data-content="This reflects how much <%= @my_organization.name %> has given, compared to your stated goal."></i>
      </span>
      <div class="text-info">Giving Goal Tracker</div>
      <canvas data-classyloader="" data-percentage="<%= @giving_goal_completion %>" data-speed="20" data-font-size="40px" data-diameter="70" data-line-color="<%= progress_hex(@giving_goal_completion) %>" data-remaining-line-color="rgba(200,200,200,0.4)" data-line- width="10" data-rounded-line="true"
      class="center-block"></canvas>
   </div>
   <div class="panel-footer">
      <p class="text-muted">
         <em class="icon-money fa-fw"></em>
         <span>This Month</span>
         <span class="text-dark">$<%= @given_last_month %></span>
      </p>
   </div>
</div>