<div class="text-primary"><strong>Cycles</strong></div>
<div class="text-danger">Closed: <%= @closed_cycles.count %></div>
<div class="text-success">Open: <%= @open_cycles.count %></div>

<div class="row">
	<div class="col-xs-12 col-sm-8"></div>
	<div class="col-xs-12 col-sm-4"></div>
</div>