<%= render 'status_change_header' %>

<% if !current_user.applicant? %>
  <div class="row" id="non_applicant_show_request">
    <%= render 'requests/show_request/non_applicant_view' %>
  </div>
<% else %>
  <div class="row" id="applicant_show_request">
    <%= render 'requests/show_request/applicant_view' %>
  </div>
<% end %>
