<div id="features" class="section-features">
    <!-- Start partners -->
    <!--<%= render "pages/home_partials/partner_logos" %>-->
    <!-- End partners -->

    <!-- Start clean-code section -->
    <section id="clean-code" class="clean-code features-row">
        <div class="container">
            <div class="text-center">
                <h3 class="section-header-1">What do you need to get your project,
                    <br class="hidden-sm hidden-xs">up and running fast?</h3>
            </div>
            <div class="row">
                <!-- Start .row -->
                <div class="col-md-8 col-sm-8">
                	<%= image_tag "landing/features/dashboard", :class => "img-responsive center-block" %>
                </div>
                <div class="col-md-4 col-sm-4">
                    <h3 class="section-header">Analytics</h3>
                    <p>Track how your foundation has been performing overtime.</p>
                    <p>We want to help you put more into your community.</p>
                    <p>Our analytics suite gives you insights to how your cycles are performing over time.</p>
                </div>
            </div>
            <!-- End .row -->
        </div>
    </section>
    <!-- End clean-code section -->
    <!-- Start charts section -->
    <section id="charts" class="charts gray-bg features-row">
        <div class="container">
            <div class="row">
                <!-- Start .row -->
                <div class="col-md-4 col-sm-4">
                    <h3 class="section-header">Cycles</h3>
                    <p>We allow you to repeat.</p>
                    <p>With custom styling and warm colors.</p>
                    <p>Many examples are included - line charts, line carts with dots, sparklines, bars, donut charts, pie charts and etc.</p>
                </div>
                <div class="col-md-8 col-sm-8">
                	<%= image_tag "landing/features/cycles", :class => "img-responsive center-block" %>
                </div>
            </div>
            <!-- End .row -->
        </div>
    </section>
    <!-- End charts section -->
    <!-- Start clean-code section -->
    <section id="email-app" class="email-app features-row">
        <div class="container">
            <div class="row">
                <!-- Start .row -->
                <div class="col-md-8 col-sm-8">
                    <%= image_tag "landing/features/organization", :class => "img-responsive center-block" %>
                </div>
                <div class="col-md-4 col-sm-4">
                    <h3 class="section-header">Organization</h3>
                    <p>Track your history.</p>
                    <p>Keep an accurate tab on your history, see how you grow with Goodie.</p>
                    <p>We show your the biggest events in your history with us, and give you the highlights of you're organizations performance.</p>
                </div>
            </div>
            <!-- End .row -->
        </div>
    </section>
    <!-- End clean-code section -->
</div>