<div id="top" class="landing-intro" role="main">
    <!-- Start .container -->
    <div class="container">
        <!-- Start intro-slogan -->
        <div class="intro-slogan text-center animated fadeInDown">
            <h1>More for your community. <strong>Fast!</strong>
            </h1>
            <p>
                An Easy <strong>Giving App</strong> Designed for Simplicity
                <br class="hidden-xs">Deep Insights. User friendly.<strong>Fast start up.</strong>
            </p>
            <div class="registration-btn-container">
                <!--<%= link_to "Sign up", new_user_registration_path, :class => "btn btn-xl btn-landing" %>-->
                <button class="btn btn-xl btn-landing btn-info" style="background-color: rgba(35, 183, 229, 0.5); pointer-events: none;">Coming soon</button>
            </div>
        </div>
        <!-- End intro-slogan -->
    </div>
    <!-- End .container -->
    <!-- Start .description-bar -->
    <div class="description-bar">
        <!-- Start container -->
        <div class="container text-center">
            <p>Low cost solution for community foundations, corporations, government groups, academic instiutions to accept, award and track grant giving.</p>
        </div>
        <!-- End container -->
    </div>
    <!-- End description-bar -->
    <!-- Scroll to next section -->
    <a href="#build-with-love" class="scrollTo">
        <p class="sroll-down">
            <%= image_tag "landing_img/landing/scroll_down" %>
        </p>
    </a>
</div>