<div id="mail_registration" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close">
               <span aria-hidden="true">&times;</span>
            </button>
            <h4 id="myModalLabelLarge" class="modal-title">Stay up to date!</h4>
         </div>
         <div class="modal-body">
            <p>We're still under construction, working out a few kinks. We anticpate launching in time for October of 2017. If you'd like to get some more information on what we're up to, or to get on our mailing list, sign up below! Foundations that register get 10% off on their first year!</p>

            <div class="new_subscriber_conainer">
               <%= render 'mailing_subscribers/modal_form' %>
