<div id="testimonials" class="testimonials gray-bg">
    <div class="container">
        <div class="text-center">
            <h3 class="section-header-1">What our customers said</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="testimonials-block">
                    <div class="testimonials-text">One of the best admin template ever. The number of customization options is pretty damn high</div>
                    <div class="testimonials-client">
                        <%= image_tag "landing_img/avatars/131" %>
                        <p>
                            <strong>Tina Dowsen</strong> 
                            <br>CEO of <a href="#">Dowsen Inc</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="testimonials-block">
                    <div class="testimonials-text">Simply awesome. I managed to integrate this template in my system for one week. Very good job. Recommend it.</div>
                    <div class="testimonials-client">
                        <%= image_tag "landing_img/avatars/130" %>
                        <p>
                            <strong>Felix Jones</strong> 
                            <br>Founder of <a href="#">Startapp</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 pt25 pb25 mt25">
                <a href="#give-a-try" class="scrollTo">
                    <p class="sroll-down">
                        <%= image_tag "landing_img/landing/scroll_down" %>
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>