<div id="give-a-try" class="give-a-try">
    <div class="container">
        <div class="text-center">
            <h1>Have You Seen Enough?</h1>
            <p>Give it a <strong>try</strong>. It’s time to get your project <strong>done</strong>
            </p>
        </div>
        <div class="row mt50 mb50">
            <!-- Start .row -->
            <div class="col-md-12 text-center">
                <!--<%= link_to "Sign up", new_user_registration_path, :class => "btn btn-xl btn-landing" %>-->
            </div>
        </div>
        <!--
        <div class="text-center">
            <p>Not convinced yet ? Explore demo.</p>
        </div>
        <div class="row mt50 mb50">
            <div class="col-md-12 text-center">
                <a href="#" class="btn btn-lg btn-danger uppercase"> Demo</a>
            </div>
        </div>
        -->
    </div>
</div>