<div class="field">
   <label>
      <span data-localize="cycle_form.fields.ONEAPP">One Application</span>  <%= one_application_helper %>
   </label><br>
   <label class="switch">
      <%= f.check_box :one_application %>
      <span></span>
   </label>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="field">
      <div class="form-group">
        <%= f.label :admin_note %>
        <%= f.cktext_area :admin_note, :class => "form-control" %>
      </div>
    </div>
  </div>
</div>