<div class="row">
	<div class="col-xs-12">
		<p class="text-muted">What you enter here will be displayed to your applicants atop the application.</p>
	</div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="field">
      <div class="form-group">
        <%= f.label :instructions %>
        <%= f.cktext_area :instructions, :class => "form-control" %>
      </div>
    </div>
  </div>
</div>