<div class="nested-fields">
  <div class="container-fluid">
    <div class="row-fluid form-group">
      <div class="col-xs-12">
        <% f.label :name %>
        <%= f.text_field :name, class: "form-control", :placeholder => "Cycle Name" %>
      </div>
    </div>

    <hr>

  </div>
</div>