<table class="table table-condensed">
  <thead>
    <tr>
		<th>Organization</th>
		<th>Project Name</th>
		<th>Cycle Budget</th>
		<th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |this_project| %>
      <tr>
        <td><%= Organization.where(:id => this_project.organization_id).first.name %></td>
		<td><%= this_project.name %></td>
		<td><%= this_project.cycle_budget %></td>
		<td><%= link_to 'Show', this_project %></td>
      </tr>
    <% end %>
  </tbody>
</table>

