<%= render 'layouts/partials/page_header' %>

<div class="row-fluid">
  <div class="col-lg-8">
    <!-- Main panel-->
    <%= render 'projects/partials/show_main_panel' %>
    <!-- End Main panel-->
    <%= render 'projects/partials/show_project_stats' %>
  </div>

  </div>
  <div class="col-lg-4">
    <%= render 'projects/partials/aside' %>
  </div>
</div>