@mixin avatar($size) {
    width: $size;
    height: $size;
    background-color: #6C7A89;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;

    .initials {
      position: relative;
      top: $size*0.25;
      font-size: $size*0.5;
      line-height: $size*0.5;
      color: #fff;
      font-weight: bold;
    }
}

.avatar-circle           { @include avatar(100px); }
.avatar-circle-side      { @include avatar(60px); }
.avatar-circle-sm        { @include avatar(50px); }
.avatar-circle-lg        { @include avatar(250px); }
.avatar-circle-cy-view   { 
  @include avatar(48px); 
  display:inline-block;
  .initials { top:12px;}
}

.logo-table {float: right;}
.logo_table_name {padding-left:10px;}
#request_form {position:relative; top:15px;}