<div class="panel panel-primary">
	<div class="panel-heading">Open Cycles</div>
	<div class="panel-body">
		<% if cycles.count == 0 %>
		<h5 class="text-warning"><%= Organization.where(:id => current_user.organization_id.to_s).first.name %> has no cycles open right now.</h5>
		<% else %>
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>Name</th>
					<th colspan="1">Actions</th>
				</tr>
			</thead>
			<tbody>
				<% cycles.each do |cycle| %>
				<% previous_application = Request.where(:user_id => current_user.id).where(:cycle_id => cycle.id).count %>
				<tr>
					<td><%= cycle.name %></td>
					<td>
						<% if cycle.one_application && previous_application == 0 %>
							<% thisProject = Project.where(:id => cycle.project_id).first.id %>
							<%= link_to 'Apply', new_request_path(:cycle_id => cycle.id, :project_id => thisProject) %>
						<% end %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<% end %>
	</div>
	<div class="panel-footer">
		<a class="btn btn-sm btn-info" mailto:"<%= @primary_contact.email %>">Contact</a>
	</div>
</div>