<%= render 'layouts/partials/page_header' %>

<div class="row">
  <div class="col-xs-12 col-md-8">
    <%= render 'requests_table', :requests => @your_requests %>
  </div>
  <div class="col-xs-12 col-md-4">
    <%= render 'cycles_table', :cycles => @open_cycles %>
  </div>
</div>