<%= form_tag subscriber_path(1), method: :put do %>

<script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= Rails.configuration.stripe[:publishable_key]%>" data-description="Monthly Subscription" data-amount="0"></script>

<span>Free Tier!</span>

<% end %>