// Place all the styles related to the Extras controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// --- Fullcalendar
//= require fullcalendar/dist/fullcalendar
// --- Slider Ctrl
//= require seiyria-bootstrap-slider/dist/css/bootstrap-slider.min
// --- Chosen
//= require chosen_v1.2.0/chosen.min
// --- DatetimePicker
//= require eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min
// --- Datatables
//= require datatables-colvis/css/dataTables.colVis
//= require datatables/media/css/dataTables.bootstrap
//= require dataTables.fontAwesome/index


/* ========================================================================
   Component: Plan table
 ========================================================================== */

.plan {
    background-color: #edf1f2;
    overflow: auto;
    border-radius: 4px;
    // margin-bottom: 60px;
    padding-bottom: 30px;

    .plan-header {
        background-color: #23b7e5;
        color: #fff;
        margin: 0;
        padding: 20px 10px;
        text-align: center;
    }

    .plan-price {
        background: #fff;
        padding: 16px 8px;
        text-align: center;

        h2 {
            margin: 0;
        }

    }

    .plan-period {
        font-size: 16px;
    }

    hr {
        display: block;
        margin: 24px;
        border-top: 1px solid rgba(0, 0, 0, .05);
        height: 0;
    }

    .plan-description {
        padding: 0 24px;
        text-align: center;
    }

    .plan-features {
        list-style-type: none;
        padding-left: 0;
        margin-top: 25px;
        margin-bottom: 25px;
        text-align: left;

        > li {
            padding: 8px 24px;

            > em {
                color: #23b7e5;
                margin-right: 7px;
            }

            &:last-child {
                padding-bottom: 0;
            }

        }

    }

    .plan-feature-disable {
        color: #f05050 !important;
    }

}
.stripe-button-el { display: none }