<div class="col-lg-3 col-md-6 col-sm-12">
   <!-- START widget-->
   <div class="panel widget bg-primary">
      <div class="row row-table">
         <div class="col-xs-4 text-center bg-primary-dark pv-lg">
            <em class="icon-cloud-upload fa-3x"></em>
         </div>
         <div class="col-xs-8 pv-lg">
            <div class="h2 mt0"><%= @requests.count %></div>
            <div class="text-uppercase">Requests</div>
         </div>
      </div>
   </div>
</div>
<div class="col-lg-3 col-md-6 col-sm-12">
   <!-- START widget-->
   <div class="panel widget bg-success">
      <div class="row row-table">
         <div class="col-xs-4 text-center bg-success-dark pv-lg">
            <em class="fa fa-money fa-3x"></em>
         </div>
         <div class="col-xs-8 pv-lg">
            <div class="h2 mt0">$<%= @total_amt_given %></div>
            <div class="text-uppercase">Given</div>
         </div>
      </div>
   </div>
</div>
<div class="col-lg-3 col-md-6 col-sm-12">
   <!-- START widget-->
   <div class="panel widget bg-warning">
      <div class="row row-table">
         <div class="col-xs-4 text-center bg-warning-dark pv-lg">
            <em class="icon-star fa-3x"></em>
         </div>
         <div class="col-xs-8 pv-lg">
            <div class="h2 mt0"><%= @total_awards %></div>
            <div class="text-uppercase">Awards</div>
         </div>
      </div>
   </div>
</div>
<div class="col-lg-3 col-md-6 col-sm-12">
   <!-- START date widget-->
   <div class="panel widget">
      <div class="row row-table">
         <div class="col-xs-4 text-center bg-green pv-lg">
            <!-- See formats: https://docs.angularjs.org/api/ng/filter/date-->
            <div data-now="" data-format="MMMM" class="text-sm"></div>
            <br/>
            <div data-now="" data-format="D" class="h2 mt0"></div>
         </div>
         <div class="col-xs-8 pv-lg">
            <div data-now="" data-format="dddd" class="text-uppercase"></div>
            <br/>
            <div data-now="" data-format="h:mm" class="h2 mt0"></div>
            <div data-now="" data-format="a" class="text-muted text-sm"></div>
         </div>
      </div>
   </div>
   <!-- END date widget -->
</div>