<div class="panel panel-default">
   <div class="panel-body">
   		<h3>Your timeline is not setup yet</h3>
   		<hr>
   		<p>You're one step closer to fully using Goodie. This is where you'll see your organizations timeline. Here we will show you certain key events, creating a project, creating a cycle, when one goes live and closes, things like that. Since you don't have any events yet, you get this. Use the projects and cycles tabs to the left of here to get going!<p>
   </div>
</div>
