<div class="unwrap">
  <%= render 'organizations/show_partials/header' %>
  
  <div class="p-lg">
    <div class="row">
      <div class="col-lg-8">
        <%= render 'organizations/show_partials/timeline' %>
      </div>
      <div class="col-lg-4">
        <%= render 'organizations/show_partials/team_lead' %>

        <%= render 'organizations/show_partials/org_stats' %>
      </div>
    </div>
  </div>
</div>