<%= link_to edit_user_registration_path(current_user) do %>
<li class="has-user-block">
   <div id="user-block" class="collapse">
      <div class="item user-block">
         <!-- User picture-->
         <div class="user-block-picture">
            <div class="user-block-status">
               <img src="<%= image_path('angle/user/02.jpg') %>" alt="Avatar" width="60" height="60" class="img-thumbnail img-circle" />
               <div class="circle circle-success circle-lg"></div>
            </div>
         </div>
         <!-- Name and Job-->
         <div class="user-block-info">
            <span class="user-block-name"><span data-localize="sidebar.nav.HELLO">Hello</span>, <%= current_user.first_name %></span>
            <span class="user-block-role"><%= current_user.job_title %></span>
         </div>
      </div>
   </div>
</li>
<% end %>