<div class="panel panel-default">
   <div class="panel-heading">Particulars</div>
   <div class="panel-body">
   	<dl class="dl-horizontal">

      <% if @request.detailed_description %>
      <dt>Details</dt>
    	<dd><%= @request.detailed_description.html_safe %></dd>
      <% end %>

      <% if @request.project_start %>
      <dt>Project Begin</dt>
      <dd><%= @request.project_start.strftime("%e %b %Y %l:%M %p").to_s %></dd>
      <% end %>

      <% if @request.project_end %>
      <dt>Project End</dt>
      <dd><%= @request.project_end.strftime("%e %b %Y %l:%M %p").to_s %></dd>
      <% end %>

    </dl>
  </div>     
</div>